html{

scroll-behavior: smooth;
scroll-padding-top: 75px;
}

body{
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 2px 0 10px 0;
 
  font-family: Muli;
  scroll-behavior: smooth;
}


.logo{
  width: 50px;
  height: 50px;
}

.txt{
  font-size: 13px;
}


.txt:hover{
  background-color: #087692a9;
  border-radius: 20px;
  transition: 0.2ms;
}

.h1{
  font-size: 100px;
}

.h3{
  font-size: 60px;
}


.but{
  border-radius: 20px;
  margin-left: 10px;
  background: #087692;
  border: transparent;
  color: white;
  font-size: 15px; 
}

.input{
  border-radius: 20px;
  border: transparent;
  width: 130px;
  padding-left: 10px;
}

.navbar{
  top: 20px;
  
}

.first{
  top: 120px;
  color: white;
}

.wave{
  width: 50px;
  height: 50px;
animation-duration: 2.5s;
animation-iteration-count: infinite;
transform-origin: 70% 70%;
animation-name: wave-animation;
display: inline-block;

}

@keyframes wave-animation{
 0%{
  transform: rotate(0.0deg);
 }
 10%{
  transform: rotate(14.0deg);
 }
 20%{
  transform: rotate(-8.0deg);
 }

30%{
  transform: rotate(14.0deg);
 }

40%{
  transform: rotate(-4.0deg);
 }

50%{
  transform: rotate(10.0deg);
 }

60%{
  transform: rotate(0.0deg);
 }

100%{
  transform: rotate(0.0deg);
 }

}

.cars{
  width: 600px;
  height: 300px;
  margin-left: -80px;
  margin-top: 50px;
  filter: drop-shadow(20px 30px 21px black);
  transition: 0.2s;
  animation  : updown 3s linear infinite;
 }

 

@keyframes updown {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}




.contacts{
  margin-top: 30px;
}

.butt{
  border-radius: 20px;
  margin-left: 10px;
  border: transparent;
  color: white;
  font-size: 30px; 
}

.butt:hover{
  background-color: #087692a9;
  border-radius: 20px;
  transition: 0.2ms;
  cursor: pointer;
}

.cards{
  background:  #281b7e;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  border-radius: 50px;
 
}

.carol{
  background: white;
  border-radius: 60px;
  text-align: center;
  padding: 60px 50px;
  height: 390px;
  margin-top: 140px;
}

.carss{
font-family: Embassy BT Regular ;
color: #281b7e;
font-weight: bolder;

}

.item img{
  width: 100%;
  height: 100%;
  margin: 5 aut0 30px auto;
}

.item h2{
  font-size: 10px;
  font-weight: 700;
}

.skill-slider{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.left{
  top: 28%;
position:absolute;
bottom: 0;
width: 40%;
z-index: -4;

}

.cardss{
  background:  white;
  padding: 90px 50px;
  height: 560px;
  width: 200%;
  margin-top: 30px;
  border-radius: 50px;
  
}

.landpix{
  width: 500px;
  height:500px;
  margin-top: 60px;


}

.div_body{
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;

}

.section_padding{
  padding: 4rem 4rem;
}

.footer{
  background-color: rgb(5, 5, 5);
  background-size: cover;
  width: 100%;
 }

.sb_footer{
   display: flex;
  flex-direction: column;
}

.sb_footer-links{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: -1rem
  
}

.sb_footer-links_div{
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(247, 247, 247);
 

}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}


.socialmedia{
  display: flex;
  flex-direction: row;
}
.socialmedia img{
  width: 80%;
  height: 40px;
  width: 40px;
  margin:  0.5rem;
  filter: drop-shadow( 7px 0.2rem rgba(240, 238, 238, 0.178));
  cursor: pointer; 
}

.sb_footer-links_div p{
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-links_div h4{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 17px;
  margin-bottom: 0.9rem;
}

  .brder{
  width: 80%;

  }

  hr{
    background-color: rgb(255, 255, 255)   !important;
    width: 100%;
  }

p{
    text-decoration: none;
    color: rgb(196, 192, 192);
  }

  .font{
    color: rgb(255, 255, 255);
  }

  .sb_footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
  }
  

  @media screen and (max-width: 850px) {
    .sb_footer.heading h4{
      font-size: 44px;
      line-height: 50px;
      
    }
  }

  @media screen and (max-width: 550px) {
    .sb_footer-heading h4{
      font-size: 3px;
      line-height: 42px;
    }

    .sb_footer-links div{
      margin: 1rem 0;
    }

    .sb_footer-links btn p{
      font-size: 14px;
      line-height:  20px;

    }

  }
  
  @media screen and (max-width: 400px) {
    .sb_footer-heading h4{
      font-size: 27px;
      line-height: 30px;
    } 
  }

 
 